html,
body,
header,
.view {
  height: 100%;
}
header {
  background-image: url("../img/header/gratisography-waves-crashing-rocks.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .header-text {
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .header-text_box h2 {
  font-weight: 600;
  font-size: 50px;
  color: #626262;
}
header .header-text_box h2 span {
  color: #fc6f4e;
}
header .header-text_box p {
  font-size: 16px;
  color: #000;
}
header .form {
  margin-top: -130px;
}
header .form .card h5 strong {
  color: #000;
}
header .form .card h5 strong span {
  color: #fc6f4e;
}
header .form .card .card-body form button {
  background-color: #fc6f4e;
  border-radius: 50px;
}
.main-working {
  margin-bottom: 1rem;
}
.main-working_header {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.main-working_header h3 {
  font-weight: 600;
  font-size: 50px;
  color: #626262;
}
.main-working_header h3 span {
  color: #fc6f4e;
}
.main-working_header p {
  font-size: 16px;
  color: #000;
}
.main-working_box1 {
  width: 260px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-working_box1 h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
.main-working_box1 p {
  font-size: 15px;
  color: #fff;
}
.main-working_box1 a {
  background-color: #fff;
  padding: 10px;
  border-radius: 56px;
  font-size: 16px;
  color: #000;
}
.main-featured {
  margin-bottom: 1rem;
}
.main-featured_header {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.main-featured_header h3 {
  font-weight: 600;
  font-size: 50px;
  color: #626262;
}
.main-featured_header h3 span {
  color: #fc6f4e;
}
.main-featured_header p {
  font-size: 16px;
  color: #000;
}
.main-featured_box img {
  width: 320px;
  height: 320px;
  cursor: pointer;
}
.main-featured_box .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
}
.main-featured_box .modal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
@media only screen and (max-width: 700px) {
  .main-featured_box .modal .modal-content {
    width: 100%;
  }
}
.main-featured_box .modal #caption,
.main-featured_box .modal #caption2,
.main-featured_box .modal #caption3,
.main-featured_box .modal #caption4,
.main-featured_box .modal #caption5,
.main-featured_box .modal #caption6,
.main-featured_box .modal #caption7,
.main-featured_box .modal #caption8,
.main-featured_box .modal #caption9 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.main-featured_box .modal .modal-content,
.main-featured_box .modal #caption,
.main-featured_box .modal #caption2,
.main-featured_box .modal #caption3,
.main-featured_box .modal #caption4,
.main-featured_box .modal #caption5,
.main-featured_box .modal #caption6,
.main-featured_box .modal #caption7,
.main-featured_box .modal #caption8,
.main-featured_box .modal #caption9 {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.main-featured_box .modal .close,
.main-featured_box .modal .close2,
.main-featured_box .modal .close3,
.main-featured_box .modal .close4,
.main-featured_box .modal .close5,
.main-featured_box .modal .close6,
.main-featured_box .modal .close7,
.main-featured_box .modal .close8,
.main-featured_box .modal .close9 {
  position: absolute;
  top: 130px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.main-featured_box .modal .close,
.main-featured_box .modal .close2,
.main-featured_box .modal .close3,
.main-featured_box .modal .close4,
.main-featured_box .modal .close5,
.main-featured_box .modal .close6,
.main-featured_box .modal .close7,
.main-featured_box .modal .close8,
.main-featured_box .modal .close9:hover,
.main-featured_box .modal .close,
.main-featured_box .modal .close2,
.main-featured_box .modal .close3,
.main-featured_box .modal .close4,
.main-featured_box .modal .close5,
.main-featured_box .modal .close6,
.main-featured_box .modal .close7,
.main-featured_box .modal .close8,
.main-featured_box .modal .close9:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.main-service_header {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.main-service_header h3 {
  font-weight: 600;
  font-size: 50px;
  color: #626262;
}
.main-service_header h3 span {
  color: #fc6f4e;
}
.main-service_header p {
  font-size: 16px;
  color: #000;
}
.main-service_block2 {
  display: flex;
}
.main-service_block2_bot_bon {
  background-color: #fff;
  padding-left: 42px;
  padding-right: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0 10px 30px 10px #c4c4c4;
  box-shadow: 0 10px 30px 10px #c4c4c4;
  margin-bottom: 1rem;
  cursor: pointer;
}
.main-service_block2_bot .tivvvv {
  border: 1px solid red;
}
.main-service_block2_box {
  display: none;
  margin-left: 4rem;
}
.main-service_block2_box h3 {
  font-size: 30px;
  font-weight: 400;
  color: #000;
}
.main-service_block2_box span {
  display: block;
  height: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 60px;
  background: #fc6f4e;
}
.main-service_block2_box p {
  font-size: 16px;
  color: #000;
}
.main-service_block2_box a {
  background-color: #afafaf;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 60px;
  color: #fff;
  transition: 0.5s;
}
.main-service_block2_box a:hover {
  background-color: #fc6f4e;
  color: #fff;
  transition: 0.5s;
}
.main-service_block2 .mainActiv {
  display: block;
  animation-delay: 0ms;
  animation-duration: 2000ms;
  animation-fill-mode: both;
  animation-name: transform-bounch-in;
}
@keyframes transform-bounch-in {
  0% {
    transform: rotate(0deg) scale(0.3, 0.3);
    opacity: 0;
  }
  50% {
    transform: rotate(0deg) scale(1.05, 1.05);
    opacity: 1;
  }
  70% {
    transform: rotate(0deg) scale(0.9, 0.9);
  }
  100% {
    transform: rotate(0deg) scale(1, 1);
  }
}
.main-service_block3 img {
  width: 331px;
  height: 373px;
}
.main-team {
  margin-bottom: 6rem;
}
.main-team_header {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.main-team_header h3 {
  font-weight: 600;
  font-size: 50px;
  color: #626262;
}
.main-team_header h3 span {
  color: #fc6f4e;
}
.main-team_header p {
  font-size: 16px;
  color: #000;
}
.main-team_box1 picture img {
  width: 330px;
  height: 440px;
  -webkit-box-shadow: 1px 1px 10px 10px #c4c2c3;
  box-shadow: 1px 1px 10px 10px #c4c2c3;
}
.main-team_box1 picture .main-team_box1_bl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -77px;
  position: relative;
  opacity: 0.9;
  background-color: #a1a1a1;
}
.main-team_box1 picture .main-team_box1_bl h3 {
  color: #fff;
}
.main-team_box1 picture .main-team_box1_bl p {
  color: #fff;
}
.main-team_box2 picture img {
  width: 330px;
  height: 440px;
  -webkit-box-shadow: 1px 1px 10px 10px #c4c2c3;
  box-shadow: 1px 1px 10px 10px #c4c2c3;
}
.main-team_box2 picture .progressi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -255px;
}
.main-team_box2 picture .progressi p {
  margin-bottom: 0;
  margin-top: -22px;
  color: indigo;
  font-weight: 800;
}
.main-team_box2 picture .progressi .progress {
  width: 50%;
  height: 7px;
}
.main-team_box2 picture .progressi .progress .progress-bar {
  background-color: #fc6f4e;
}
.main-team_box2 picture .main-team_box1_b2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -193px;
  opacity: 0.9;
  background-color: #a1a1a1;
}
.main-team_box2 picture .main-team_box1_b2 h3 {
  color: #fff;
}
.main-team_box2 picture .main-team_box1_b2 p {
  color: #fff;
}
.main-team_box2 picture .main-team_box1_b2 .icons {
  font-style: normal;
  font-size: 25px;
  color: #fc6f4e;
}
.main-clients {
  margin-bottom: 6rem;
}
.main-clients_header {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.main-clients_header h3 {
  font-weight: 600;
  font-size: 50px;
  color: #626262;
}
.main-clients_header h3 span {
  color: #fc6f4e;
}
.main-clients_header p {
  font-size: 16px;
  color: #000;
}
.main-clients_box_bl1 {
  text-align: center;
  width: 465px;
}
.main-clients_box_bl1 img {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  margin: 0 auto;
}
.prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  z-index: 1;
  border-radius: 50px;
  padding: 10px;
  transition: 0.5s;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.prev:hover {
  background-color: #fc6f4e;
  transition: 0.5s;
  color: #fff;
}
.next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0rem;
  border: none;
  border-radius: 50px;
  padding: 10px;
  transition: 0.5s;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.next:hover {
  background-color: #fc6f4e;
  color: #fff;
  transition: 0.5s;
}
.footer-header {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.footer-header h3 {
  font-weight: 600;
  font-size: 50px;
  color: #626262;
}
.footer-header h3 span {
  color: #fc6f4e;
}
.footer-header p {
  font-size: 16px;
  color: #000;
}
.footer-cont {
  display: flex;
  margin-top: 5rem;
}
.footer-cont_box1 {
  margin-left: 10px;
}
.footer-cont_box1 i {
  font-style: normal;
  background-color: #fc6f4e;
  padding: 10px;
  border-radius: 60px;
  color: #fff;
  transition: 0.5s;
}
.footer-cont_box1 i:hover {
  background-color: #f7f7f7;
  color: #000;
  transition: 0.5s;
}
.footer-cont_box2 {
  margin-left: 10px;
}
.footer-cont_box2 i {
  font-style: normal;
  background-color: #fc6f4e;
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 60px;
  color: #fff;
  transition: 0.5s;
}
.footer-cont_box2 i:hover {
  background-color: #f7f7f7;
  color: #000;
  transition: 0.5s;
}
.footer-cont_box3 {
  margin-left: 10px;
}
.footer-cont_box3 i {
  font-style: normal;
  background-color: #fc6f4e;
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 60px;
  color: #fff;
  transition: 0.5s;
}
.footer-cont_box3 i:hover {
  background-color: #f7f7f7;
  color: #000;
  transition: 0.5s;
}
.footer-cont_box4 {
  margin-left: 10px;
}
.footer-cont_box4 i {
  font-style: normal;
  background-color: #fc6f4e;
  padding: 10px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 60px;
  color: #fff;
  transition: 0.5s;
}
.footer-cont_box4 i:hover {
  background-color: #f7f7f7;
  color: #000;
  transition: 0.5s;
}
.footer-info {
  margin-top: 5rem;
}
.active {
  display: none;
}
.review_stars_wrap {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
#review_stars {
  overflow: hidden;
  position: relative;
  float: left;
}
#review_stars input {
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}
#review_stars input ~ label i {
  color: #ccc;
}
#review_stars input:checked ~ label i {
  color: #ec9801;
}
#review_stars label {
  float: right;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
#review_stars label:hover i,
#review_stars label:hover ~ label i {
  color: #ec9801;
}
.back-to-top {
  display: none;
  color: #fff;
  width: 60px;
  cursor: pointer;
  font-size: 20px;
  height: 60px;
  padding: 2px 10px 3px;
  position: fixed;
  z-index: 1001;
  right: 15px;
  bottom: 30px;
  background-color: #884bdf;
  border-radius: 30px;
}
.back-to-top .blIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
}
.back-to-top .blIcons .fas {
  font-style: normal;
}
